@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title: #363F5F;
  --income: #33CC95;
  --outcome: #E52E4D;
  --header: #5429CC;
  --table-header: #969CB2;
  --button: #6933FF;
  --background: #F0F2F5;
}

body {
  background-color: var(--background);
}